.mainApp{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.mainAppContents{
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  
}

.mainApp > img{
  position: absolute;
  bottom: 200px;
  right: -170px;
  transform: rotate(-90deg);
  opacity: .1;
  width: 500px;
}